<div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron jumbo">
       <%= image_tag('creativcoin-01.png', class: 'logo2') %>
       <p class="face">We check our phones 150 times a day and it's ruining our productivity! Let's fix that.Change email preferences.Get Trello for iPhone and iPad, Android,  and more email preferences.network network and a new kind of money.</p>

      </div>
<div class="col-md-12">
<div class="col-md-6 text-center hvr-grow animated bounceInLeft "><a href="/purchases">
<h2 class="well welly  ">Buy <small>Bitcoins</small><%= image_tag('favicon.png', class: 'bit') %></h2></a>

  </div>
  <div class="col-md-6 text-center hvr-grow animated bounceInRight " ><a href="/sales">
<h2 class="well outro">Sell <small>Bitcoins</small><%= image_tag('favicon.png', class: 'bit') %></h2>
</a>
  </div>
</div>
    </div> <!-- /container -->

    <section>
    <div class="container">
    <div class="row">
    <div class="col-md-12">
    <h1 class="Why">Why Us??</h1>
    <div class="col-md-6">
      <%= image_tag('bitcons.png', class: 'ima') %>
    </div>
    <div class="col-md-6" data-wow-delay="0.6s">
      <h2 class="clari">Buying&Selling of Bitcoins</h2>
      <p>Bitcoin is an innovative payment network and a new kind of money. Bitcoin uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of  is carried out collectively by the network.an innovative payment network and a new kind of money. Bitcoin uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of itcoins is carried out collectively by the network.an innovative payment network and a new kind of money. Bitcoin uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of bitins is carried out collectively by the network.an innovative payment network and a new kind of money. Bitcoin uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of bitcoins is carried out collectively by the network.an innovative payment network and a new kind of money. Bitcoin uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of  is carried out collectively by the network.</p>
    </div>
     <div class="col-md-6" data-wow-delay="0.6s">
      <%= image_tag('ima.png', class: 'ima') %>
    </div>
    <div class="col-md-6 state" data-wow-delay="0.6s">
      <h2 class="clari">Fast Transfer</h2>
      <p>Bitcoin is an innovative payment network and a new kind of money. Bitcoin uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of  is carried out collectively by the network.an innovative payment network and a new kind of money. Bitcoin uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of itcoins is carried out collectively by the network.an innovative payment network and a new kind of money. Bitcoin uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of bitins is carried out collectively by thBitcoin uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of  is carried out collectively by the network.</p>
    </div>
     <div class="col-md-6" data-wow-delay="0.6s">
      <%= image_tag('currency-icon.png') %> <%= image_tag('favicon.png', class: 'favi') %>
    </div>
    <div class="col-md-6" data-wow-delay="0.6s">
      <h2 class="clari">We help u Get the Best Deal</h2>
      <p>Bitcoin is an innovative payment network and a new kind of money. Bitcoin uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of  is carried out collectively by the network.an innovative payment network and a new kind of money. Bitcoin uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of itcoins is carried out collectively by the network.an innovative payment network and a new kind of money. Bitcoin uses peer-to-peer technology to operate with no central authority or ba network.an innovative payment network and a new kind of money. Bitcossuing of itcoins is carried out collectively by the nenovative payment network and a n.</p>
    </div>
    <div class="col-md-6" data-wow-delay="0.6s">
      <%= image_tag('Saving-money-in-college.png', class: 'imaw') %>
    </div>
    <div class="col-md-6 state" data-wow-delay="0.6s">
     <h2 class="clari">We help u build the best Wallet</h2>
         <p>Bitcoin is an innovative payment network and a new kind of money. Bitcoin uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of  is carried out collectively by the network.an innovative payment network and a new kind of money. Bitcoin uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of itcoins is carried out collectively by the network.an innovative payment network and a new kind of money. Bitcoin uses peer-to-peer technology to operate with no central authority or banks; managind out collectively by the network o operate with no central authority or banks; managing transactions and the issuing of itcoins is carried out collectively by the network.an innovative payment network and a new kind of money. Bitcossuing of itcoins is carried out collectively by the network.an inut collectively by the network o operate with no central authority or banks; managing transactions and the issuing of itcoins is carried out collectively by the network.an innovative payment network and a new kind of money. Bitcossuing of itcoins is carried out collectively by the nenovative payment network and a n.</p>
    </div>
      
    </div>
      
    </div>
      
    </div> 
    </section>
